<table class="table table-hover">
    <thead>
        <tr class="thead-dark">
            <th>First Name </th>
            <th>Last Name</th>
            <th>Email </th>
            <th>Sale Volume</th>
            <th>Met Quota</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temp of salesPersonList">
            <td>{{temp.firstName}}</td>
            <td>{{temp.lastName}}</td>
            <td>{{temp.email}}</td>
            <td>{{temp.saleVolume | currency:"USD"}}</td>
            <td>
                <div *ngIf="temp.saleVolume >= 50000 ; else myElseBlock">Yes</div>
                <ng-template #myElseBlock>No</ng-template>    
            </td>


        </tr>

    </tbody>

</table>
