<form 
       class="card"
       (ngSubmit)="onSubmit()"
    >
    <div class="mb-3" *ngIf="!succes">
           <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{msg}}
          </div>
    </div>
    <div class="mb-3" >

       <label for="emailId" class="form-label">Email Address </label>
       <input type="text" class="form-control" name="emailId" placeholder="Email Address" [(ngModel)]="user.emailId" 
              >
    </div>          
    <br>
    <div >
       <label for="password" class="form-label">Password</label>
       <input type="password"class="form-control" name="password" placeholder="password" [(ngModel)]="user.password">
    </div>   
    <br>
    <div class="mb-3">
           <label>
                  <input class="cb" type="checkbox" name="remember">
                  Remember Me
           </label>
    </div>
    <div class="form-group">
       <a [routerLink]="['/forgotpassword']">Forgot Password ?</a>
    </div>
    <div >
       <button class="form-control" type="submit">Log in</button>
    </div>   
</form>


